                                                                                              Hurgland-Nick KELIET

                                          Modify data in a table

# SHOW the data type of a table (sqlite3)

```
                        PRAGMA table_info(table) ---------------> PRAGMA table_info(facts)
```

# INSERT data into a table

```
                                        INSERT INTO table
                                        VALUES (value1,value2,...)
```

# MODIFY data from a table

```
                                        UPDATE table
                                        SET column1 = value1, column2 = value2
                                        WHERE column1 = value3
```
- NB: Never forget the conditions WHERE, otherwise all the table will have the same values setted.

# DELETE data from a table

```
                                        DELETE FROM table
                                        WHERE column1 = value1
```
- NB: Never forget the conditions WHERE, otherwise all the values will be deleted.

# CREATE Table

```
                                        CREATE TABLE nom_db.table_name(
                                        id integer PRIMARY KEY
                                        name text
                                        country text
                                        );
```
- NB: We don't have to write nom_db.table_name if we already are in the database we just write CREATE TABLE table_name

                                                                                                             END