# Connexion à la base de données

### *Import de la librairie*

In [4]:
import sqlite3

### *Connexion à la base de donnée*

In [5]:
#connect()
con = sqlite3.connect('jobs.db')

# Créer un curseur et exécuter une requête SQL sur Python

1. Exécuter une requête auprès de la base de donnée
2. Analyser les résultats des requêtes auprès de la base de donnée
3. Convertir les résultats en objets Python c'est-à-dire "Convertir en liste de tuples"
4. Stocker les résultats dans une variable locale

In [6]:
cursor = con.cursor()

In [8]:
# requête SQL que on assigne à la variable query en tant que chaîne de caractère (string)
query = "select * from recent_grads;"

In [9]:
# Exécute la requête SQL situé dans la variable query et ce curseur convertit les résultats en tuples
# et les stocke dans une variable locale
cursor.execute(query)

In [10]:
# Chercher tout les résultats qu'on a récupéré sous la forme d'une liste de tuples
# et qu'on assigne à la variable results
results = cursor.fetchall()

In [11]:
print(results[0:5])

[(0, 1, 2419, 'PETROLEUM ENGINEERING', 'Engineering', 2339, 36, 2057, 282, 0.120564344, 1976, 1849, 270, 1207, 37, 0.018380527, 110000, 95000, 125000, 1534, 364, 193), (1, 2, 2416, 'MINING AND MINERAL ENGINEERING', 'Engineering', 756, 7, 679, 77, 0.10185185199999999, 640, 556, 170, 388, 85, 0.117241379, 75000, 55000, 90000, 350, 257, 50), (2, 3, 2415, 'METALLURGICAL ENGINEERING', 'Engineering', 856, 3, 725, 131, 0.153037383, 648, 558, 133, 340, 16, 0.024096386, 73000, 50000, 105000, 456, 176, 0), (3, 4, 2417, 'NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering', 1258, 16, 1123, 135, 0.107313196, 758, 1069, 150, 692, 40, 0.050125313, 70000, 43000, 80000, 529, 102, 0), (4, 5, 2405, 'CHEMICAL ENGINEERING', 'Engineering', 32260, 289, 21239, 11021, 0.341630502, 25694, 23170, 5180, 16697, 1672, 0.061097712, 65000, 50000, 75000, 18314, 4440, 972)]

# Chercher un certains nombre de résultats

In [14]:
# Deux méthodes
# fetchone()
# fetchmany(n)

In [15]:
import sqlite3
connexion = sqlite3.connect('jobs.db')
cursor = connexion.cursor()
query = 'select Major, Major_category from recent_grads;'
cursor.execute(query)

In [20]:
first_result = cursor.fetchone()
second_result = cursor.fetchone()
print(first_result)
print(second_result)

('MECHANICAL ENGINEERING', 'Engineering')
('ELECTRICAL ENGINEERING', 'Engineering')

In [21]:
next_six_result = cursor.fetchmany(5)
print(next_six_result)

[('COMPUTER ENGINEERING', 'Engineering'), ('AEROSPACE ENGINEERING', 'Engineering'), ('BIOMEDICAL ENGINEERING', 'Engineering'), ('MATERIALS SCIENCE', 'Engineering'), ('ENGINEERING MECHANICS PHYSICS AND SCIENCE', 'Engineering')]

# Stopper la connexion à la base de données

In [22]:
# close ()
connexion.close()